<nav class="swiggy-navbar">
  <div class="nav-left">
    <div class="logo" routerLink="/home">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Swiggy_logo.png" alt="Swiggy Logo" />
    </div>

    <div class="location">
      <span class="area-name">Other</span>
      <span class="address">Maharashtra 411069, India</span>
      <span class="arrow">&#9662;</span>
    </div>
  </div>

  <div class="nav-right">
    <div class="nav-item" routerLink="/home" routerLinkActive="active">
      <i class="icon">💼</i>
      <span>Home</span>
    </div>

    <div class="nav-item" routerLink="/search" routerLinkActive="active">
    <i class="icon">🔍</i>
    <span>Search</span>
  </div>


  <div class="nav-item" routerLink="/about" routerLinkActive="active">
    <i class="icon">ℹ️</i>
    <span>About</span>
  </div>

    <div class="nav-item" routerLink="/offers" routerLinkActive="active">
      <i class="icon">🏷️</i>
      <span>Offers</span>
      <span class="new-badge">NEW</span>
    </div>

    <div class="nav-item" routerLink="/help" routerLinkActive="active">
      <i class="icon">🛟</i>
      <span>Help</span>
    </div>

    <div class="nav-item">
      <i class="icon">👤</i>
      <span>Sign In</span>
    </div>

    <div class="nav-item cart" routerLink="/cart" routerLinkActive="active">
      <i class="icon">🛒</i>
      <span>Cart</span>
      <span class="cart-count">0</span>
    </div>
  </div>
</nav>
