<div class="restaurant-section">
  <div class="restaurant-header">
    <h3>Restaurants with online food Delivery in Pune</h3>
  </div>

  <div class="restaurant-container">
    <div class="restaurant-card" *ngFor="let restaurant of restaurants" [routerLink]="['/restromenu',restaurant.id]">
      <div class="image-container">
        <img [src]="restaurant.image" [alt]="restaurant.name" />
        <div class="offer-label" *ngIf="restaurant.offer">{{ restaurant.offer }}</div>
      </div>

      <div class="details">
        <h3>{{ restaurant.name }}</h3>
        <div class="rating-time">
          <span>⭐ {{ restaurant.rating }}</span>
          <span>• {{ restaurant.time }}</span>
        </div>
        <p class="cuisine">{{ restaurant.cuisine }}</p>
        <p class="location">{{ restaurant.location }}</p>
      </div>
    </div>
  </div>
</div>
